body{
background-image: url('https://img.freepik.com/free-vector/watercolor-abstract-floral-background_52683-134424.jpg?t=st=1730362117~exp=1730365717~hmac=1cedbc18a83d99611539015303e2d91d1d08a5549a3353993bafa339d7c43d3f&w=1380');
}

font{
    color: black;
}

font-face{
    color: black;
}